@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: black;
}
html::-webkit-scrollbar {
    width: 0px;
  }
  .header {
      padding: 1rem 1.5rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      z-index: 100;
    font-family: 'Roboto', sans-serif;
      
  }
.logo {
    color: #E1FF58;
    font-size: 2rem;
}
.nav {
    color: white;
    display: flex;
    width: 30%;
    justify-content: right;
}
.nav p {
    padding: 0 1rem;
    z-index: 100;
}
a {
    text-decoration: none;
    color: white;
}